.inner-container {
    width: 100%;
    height: 100%;
    position: relative;
    color: black;
    overflow-y: auto;

    display: grid;
    grid-template: var(--var-padding-m) var(--var-icon-size-l) var(--var-padding-m) 1fr / var(--var-padding-m)  var(--var-icon-size-l) var(--var-padding-m) 1fr  var(--var-padding-m)  var(--var-icon-size-l) var(--var-padding-m);
}

p {
    margin: 0;
    padding: 0;
}

section {
    grid-area: 4 / 1 / 5 / 8;
    position: relative;
    display: grid;
    place-items: start center;
    margin-bottom: var(--var-padding-m);
}

nav {
    grid-area: 2 / 4 / 3 / 5;
    position: relative;
    display: grid;
    place-items: center center;

    text-align: center;
    user-select: none;
    font-style: italic;
    font-size: var(--var-font-size-m);
    line-height: var(--var-line-height-m);
}

.hover-image {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 60%; 
    height: 60%;
    background-color: transparent;                                                      
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

@media only screen and (max-width: 1920px) {
    .hover-image {
        width: 80%;
        height: 80%; 
    }
}

@media only screen and (max-width: 660px) {
    .hover-image {
        width: calc(100% - (var(--var-padding-m) * 2)); 
        height: 100%; 
    }
}

custom-marquee {
    background-color: white;
    font-size: var(--var-font-size-m);
    line-height: var(--var-font-size-m);
}

custom-icon {
    display: inline-block;
}

custom-image-hover {
    width: 100%;
    height: fit-content;
    font-size: var(--var-font-size-l);
    line-height: var(--var-line-height-l);
}