.inner-container {
    width: 100%;
    height: calc(100% - 3rem - 2px);
    position: relative;
    color: black;
    font-size: 1rem;
    padding-bottom: calc(3rem + 2px);

    overflow-y: auto;

    display: grid;
    grid-template: 7rem 1fr / 2rem 4rem 1fr 2rem;
}

p {
    margin: 0;
    padding: 0;
}

section {
    grid-area: 2 / 2 / 3 / 4;
    position: relative;
    display: grid;
    place-items: center center;
}

section::-webkit-scrollbar {
    display: none;
}

.hover-image {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: calc(120% - 4rem); 
    max-width: calc(650px - 4rem);
    height: 100%;
    background-color: transparent;                                                      
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

@media only screen and (max-width: 660px) {
    .hover-image {
        width: calc(100% - 4rem); 
    }
}


custom-icon {
    display: inline-block;
}

custom-image-hover {
    width: 100%;
    max-width: 650px;
    height: fit-content;
    margin-bottom: 1rem;
}