.inner-container {
    width: 100%;
    height: 100%;
    position: relative;
    color: black;
    display: grid;
    grid-template: var(--var-padding-m) var(--var-padding-m) var(--var-padding-m) var(--var-padding-m) 1fr auto / var(--var-padding-m) var(--var-icon-size-l) var(--var-padding-m) 1fr var(--var-padding-m) var(--var-padding-m) var(--var-padding-m) var(--var-padding-m);
    font-weight: 500;
}


.info {
    grid-area: 2 / 5 / 3 / 6;
}

.preview {
    grid-area: 2 / 7 / 3 / 8;
}

.count {
    grid-area: 4 / 7 / 5 / 8;

}

.canvas-container {
    grid-area: 1 / 1 / 7 / 9;
    z-index: 1;
}

.button-container {
    grid-area: 6 / 1 / 7 / 9;
    z-index: 2;
    border-top: var(--var-border) solid black;
    height: fit-content;
    padding-bottom: var(--var-padding-s);
}

.button-container .row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-container .row > * {
    margin: 0 1rem;
    cursor: pointer;
}

.slider-container {
    margin: 1rem 0;
}

.info,
.preview,
.count {
    z-index: 3;
    font-size: var(--var-font-size-s);
    line-height: var(--var-padding-m);
    user-select: none;
    text-align: center;
    position: relative;
}


.preview {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

canvas {
    background-color: white;
}

custom-icon.loading{
    z-index: 3;
    position: absolute;
    top: clamp(0rem, calc(50% - 1rem), calc(100% - 2rem));
    left: clamp(0rem, calc(50% - 1rem), calc(100% - 2rem));
    transition: 0.1s linear;
}