.container {
    width: 100%;
    height: 100%;
    margin-bottom:100%;
    position: relative;
    color: black;
    font-size: 1rem;
    display: grid;
    grid-template: 2rem 2rem 2rem 2rem 1fr calc(6.5rem + 2px)/ 2rem 2rem 1fr 2rem 2rem 2rem 2rem;
    font-weight: 500;
}

h1 {
    grid-area: 2 / 2 / 3 / 3 ;
}

.info {
    grid-area: 2 / 4 / 3 / 5;
}

.preview {
    grid-area: 2 / 6 / 3 / 7;
}

.count {
    grid-area: 4 / 6 / 5 / 7;

}

.canvas-container {
    grid-area: 1 / 1 / 7 / 8;
    z-index: 1;
}

.button-container {
    grid-area: 6 / 1 / 7 / 8;
    z-index: 2;
    border-top: 2px solid black;
}

.button-container .row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-container .row > * {
    margin: 0 1rem;
    cursor: pointer;
}

.slider-container {
    margin: 1rem 0;
}

.info,
.preview,
.count {
    z-index: 3;
    width: calc(2rem - 4px);
    height: calc(2rem - 4px);
    line-height: calc(2rem - 4px);
    user-select: none;
    text-align: center;
    position: relative;
}


.preview {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

canvas {
    background-color: white;
}

custom-icon.loading{
    z-index: 3;
    position: absolute;
    top: clamp(0rem, calc(50% - 1rem), calc(100% - 2rem));
    left: clamp(0rem, calc(50% - 1rem), calc(100% - 2rem));
    transition: 0.1s linear;
}